<.flash_group flash={@flash} />
<header class="flex flex-col items-start justify-between gap-x-8 gap-y-4 bg-gray-50 p-4 sm:flex-row sm:items-center sm:px-6 lg:px-8">
  <div>
    <div class="flex items-center gap-x-3">
      <p>Avatar</p>

      <h1 class="flex gap-x-3 text-base leading-7">ChoreDo: Helping you get things done</h1>
    </div>
  </div>
</header>

<dl class="border-gray-900/10 grid grid-cols-1 border-b bg-white sm:grid-cols-3">
  <%!-- <div
    :for={item <- school_stats()}
    class="border-gray-900/10 border-t px-4 py-6 last:border-r-0 sm:border-r sm:px-6 lg:px-8"
  >
    <dt class="text-sm leading-6 text-gray-500"><%= item.title %></dt>
    <dd class="mt-2 flex items-baseline gap-x-2">
      <span class="text-4xl font-semibold tracking-tight text-gray-600">
        <%= Map.get(@user_count, item.id) %>
      </span>
    </dd>
  </div> --%>
</dl>
<%= if @current_user do %>
  <span class="text-[0.8125rem] font-bold">Hi, <%= @current_user.email %>!</span>
  <.link href={~p"/users/settings"} class="text-[0.8125rem] leading-6 font-semibold">
    Settings
  </.link>
  <.link href={~p"/logout"} method="delete" class="text-[0.8125rem] leading-6">
    Log out
  </.link>
<% else %>
  <.link href={~p"/users/register"} class="text-[0.8125rem] leading-6 font-semibolds  ">
    Register
  </.link>
  <.link href={~p"/users/log_in"} class="text-[0.8125rem] leading-6 font-semibold">
    Log in
  </.link>
<% end %>
